$base-color: #ffffff;
$navbar-color: #cccccc;
$main-color: #1879b8;
$main-color-variation: #4797cb;

@font-face {
    font-family: 'Minion Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Regular'), url('/resources/fonts/MinionPro-Regular.woff') format('woff');
}

:root {
    font-size: 13px;
    font-family: 'Minion Pro Regular';
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    &:hover {
        transition: 0.1s;
    }
}

.btn-main {
    background-color: $main-color;
    color: $base-color;
    &:hover {
        background-color: $main-color-variation;
    }
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;

    background-color: $base-color;

    header {
        padding: 5px;
        background-color: $navbar-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        nav {
            flex-grow: 1;
            ul {
                display: flex;
                align-items: center;
                flex-direction: row;
                li {
                    margin-left: 5px;
                    margin-right: 5px;
                    list-style: none;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .profile {

        }
    }

    #content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

