.pop-up {
    display: none;
    position: fixed;
    background-color: white;
    left: 150px;
    top: 100px;
    right: 150px;
    bottom: 100px;
    overflow-y: scroll;
}

.selected-card {
    background-color: lightgray;
}

.popup-btns {
    display: flex;
}

.gamecontent {
    display: flex;
    flex-direction: row;
    .map {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .info {
        display: flex;
        flex-direction: column;
    }
}
